<div class="container">
    <div class="welcome row">
        <h1>welcome to <span class="glyphicon glyphicon-book"></span><spam class="bookers">Bookers !!</spam></h1>
        <p>In <span class="glyphicon glyphicon-book"></span>Bookers,<br>you can share and exchange your opinions , inpressions , and emotions <br>about varioius books!</p>
    </div>
    <div class="row">
        <div><%= link_to 'Log in', new_user_session_path, class: "btn btn-block btn-primary btn-lg" %></div>
        <div><%= link_to 'Sign_up', new_user_registration_path, class: "btn btn-block btn-success btn-lg" %></div>
    </div>    
</div>